<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kodextech.elleapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ElleApp">
        <activity android:name=".sellcraft.SellCraft"></activity>
        <activity android:name=".blogs.BlogDetails" />
        <activity android:name=".blogs.CreativeBlog" />
        <activity android:name=".blogs.BlogsCategory" />
        <activity android:name=".creativetutorials.CreativeVideos" />
        <activity android:name=".creativetutorials.TutorialsCategory" />
        <activity android:name=".auth.SignUp" />
        <activity android:name=".dashboard.Dashboard" />
        <activity android:name=".auth.AuthAc" />
        <activity android:name=".splash.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>